django==3.2.18
django-admin-honeypot
django-bootstrap5
django-countries
django-informixdb
django-localflavor
django-loginas
django-taggit
fontawesomefree
gdata
google-api-python-client
google-auth
mysqlclient
pyodbc
python-ldap
python-memcached
pysftp
requests
