django==4.2.11
django-bootstrap5
django-countries
django-gmailapi-json-backend
django-informixdb
django-localflavor
django-taggit
fontawesomefree
google-api-python-client
google-auth
mysqlclient
oauth2client
pymemcache
pyodbc
python-ldap
python-memcached
pysftp
requests
