django==5.2.4
django-bootstrap5
django-countries
django-gmailapi-json-backend
django-localflavor
django-taggit
fontawesomefree
google-api-python-client
google-auth
mysqlclient
oauth2client
pymemcache
pyodbc
python-ldap
python-memcached
pysftp
requests
