<div class="table-responsive">
    <table class="dataTable display table-bordered table-hover" id="groups-data">
        <thead>
            <tr>
                <th>Name</th>
                <th>Owner</th>
                <th>Email</th>
                <th>Who can join</th>
                <th>View group</th>
                <th>View membership</th>
                <th>Who can post</th>
                <th>Post_as_group</th>
                <th>Who can contact owner</th>
                <th>Who can invite</th>
            </tr>
        </thead>
        <tbody>
        {% for g in groups %}
            <tr>
                <td class="group-name" style="text-align:left;">
                    <a href="{% url 'groups_details' %}?email={{g.email}}">{{g.name}}</a>
                </td>
                <td>
                    {% if g.owner %}
                    <a href="mailto:{{g.owner.email}}">{{g.owner.email}}</a>
                    {% endif %}
                </td>
                <td>
                    <a href="mailto:{{g.email}}">{{g.email}}</a>
                </td>
                <td>
                    {{g.settings.whoCanJoin}}
                </td>
                <td>
                    {{g.settings.whoCanViewGroup}}
                </td>
                <td>
                    {{g.settings.whoCanViewMembership}}
                    members: <div style="display:none;">{{g.members}}</div>
                </td>
                <td>
                    {{g.settings.whoCanPostMessage}}
                </td>
                <td>
                    {{g.settings.membersCanPostAsTheGroup}}
                </td>
                <td>
                    {{g.settings.whoCanContactOwner}}
                </td>
                <td>
                    {{g.settings.whoCanInvite}}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!-- /.table-responsive -->
