{% extends "base.html" %}
{% block title %}
    {% if group %}Group Details{% else %}Search for groups{% endif %}
{% endblock %}
{% block content %}
<div class="row">
    {% if group %}
    <h1>Group Details</h1>
    {% else %}
    <h1>Search for groups</h1>
    {% endif %}
    <div class="col-md-6">
        {% if group %}
            {% if group == 500 or group == 401 %}
                <p>
                    The email address
                    <strong class="green">{{form.email.value}}</strong>
                    is not valid for this domain or the
                    API failed to process the request. Please try your
                    search again.
                </p>
            {% else %}{% if group == 400 %}
                <p>
                    The email address
                    <strong class="green">
                    {% if form.email.value %}
                        {{form.email.value}}
                    {% else %}
                        {{email}}
                    {% endif %}
                    </strong>
                    is not associated with an existing group.
                </p>
            {% else %}
            <dl>
            <h4 class="green">
                Group settings for {{email}}
            </h4>
            {% for k,v in group.items %}
            <dt>{{k}}</dt>
            <dd>{{v|default:"&nbsp;"}}</dd>
            {% endfor %}
            </dl>
            {% endif %}{% endif %}
        {% else %}
            {% if form.email.value and not form.errors %}
                <p>
                    The email address
                    <strong class="green">{{form.email.value}}</strong>
                    is not associated with an existing group.
                </p>
            {% endif %}
        {% endif %}
        {% include "includes/generic_form.html" %}
    </div>
</div>
{% endblock %}
