{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block content %}
<div class="row">
    <h1>Search for a forwarding address</h1>
    <div class="col-md-6">
        {% if emails %}
          {% for e in emails %}
            {{e}},
          {% endfor %}
        {% else %}{% if forwarding %}
            {% if forwarding == 'Error' %}
            <h4>There was no data submitted</h4>
            {% else %}
            <h4>The email address</h4>
            <blockquote>
                <a href="mailto:{{form.username.value}}@carthage.edu">
                    {{form.username.value}}@carthage.edu
                </a>
            </blockquote>
            <h4>is set to forward to</h4>
            <blockquote>
                <a href="mailto:{{forwarding}}">{{forwarding}}</a>
            </blockquote>
            {% endif %}
        {% else %}{% if form.username.value %}
            <h4>There are no forwarding email addresses established for</h4>
            <blockquote>
                <a href="mailto:{{form.username.value}}@carthage.edu">
                    {{form.username.value}}@carthage.edu
                </a>
            </blockquote>
        {% endif %}{% endif %}{% endif %}
        {% include "includes/generic_form_multi.html" %}
    </div>
</div>
{% endblock %}
